*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  background-color: #3f6142;
  padding: 0;
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  position: absolute;
  top: 32px;
  left: 44px;
  right: 44px;
  z-index: 1;
  width: 1820px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navigation */
.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0 45px;
  list-style-type: none;
}

.navigation__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  transition: color 0.15s ease-in;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #406343;
}

.navigation__link--current {
  position: relative;
}

.navigation__link--current::before {
  content: "";
  width: 100%;
  height: 10px;
  background-color: #406343;
  position: absolute;
  bottom: -10px;
}

/* CONTROLS */
.controls {
  display: flex;
  gap: 0 35px;
}

.controls {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.controls__button {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.controls__button svg {
  fill: #ffffff;
  transition: fill 0.15s ease-in;
}

.controls__button:hover svg,
.controls__button:focus svg {
  fill: #406343;
}

/* PROMO */
.promo {
  width: 100%;
  height: 100%;
  position: relative;
}

.promo__image {
  width: 100%;
  display: block;
}

.promo__text-lion {
  position: absolute;
  top: 333px;
  left: 312px;
  transition: transform 0.3s ease-in;
}

.promo__text-lion:hover {
  transform: scale(0.95);
}

.promo__text {
  position: absolute;
  top: 670px;
  right: 147px;
  width: 429px;
}

.promo__text h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 18px;
}

.promo__text p {
  color: rgba(179, 179, 179, 0.8);
  margin-top: 0;
}

.promo__controls {
  display: flex;
  flex-direction: column;
  gap: 13px 0;
  width: 380px;
  align-items: center;
  position: absolute;
  bottom: 164px;
  left: 50%;
  margin-left: -190px;
}

.promo__scroll {
  width: 69px;
  height: 69px;
  background-image: url("../images/mouse.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* BUTTON */
.button {
  font-size: 25px;
  line-height: 38px;
  font-weight: 700;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 22px 47px 20px;
  background-color: #406343;
  box-shadow: -25px 0 50px rgba(0, 0, 0, 0.1), 25px -25px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.button svg {
  fill: #ffffff;
  transition: fill 0.15s ease-in;
}

.button:hover svg,
.button:focus svg {
  fill: #FFCC00;
}

